<div id="post<%= comment.post_id %>_ModalComment<%= comment.id %>">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <%= image_tag "profile.png", class: "img-thumbnail rounded-circle", style: "width: 2.5rem; max-height: 2.5rem;" %>
      <div class="d-flex flex-column mx-2 justify-content-center">
        <small class="fw-bold text-black text-truncate" style="max-width: 10rem"><%= link_to comment.user do %><%= comment.user.username %></small><% end %>
        <small><%= comment.body %></small>
        <small class="text-muted"><%= time_ago_in_words(comment.created_at) %></small>
      </div>
    </div>
    <% if comment.user == current_user %>
      <%= button_to comment_path(id: comment.id), method: :delete, style: "background:none; border:none;" do %>
        <i class="fa fa-times"></i>
      <% end %>
    <% end %>
  </div>
</div>