<div class="d-flex justify-content-between">
  <div class="d-flex">
    <%= image_tag suggestion.profile_picture.attached? ? suggestion.profile_picture : "profile.png", class: "img-thumbnail rounded-circle", style: "width: 3.5rem" %>
    <div class="d-flex flex-column mx-2">
      <small class="fw-bold text-truncate" style="max-width: 10rem"><%= link_to suggestion, data: { turbo: false } do %><%= suggestion.username %><% end %></small>
      <small class="text-muted text-truncate" style="font-size: .7rem; max-width: 10rem">Suggested for you</small>
    </div>
  </div>
  <% if current_user.waiting_followings.include?(suggestion) %>
    <%= link_to cancel_request_path(user_id: suggestion.id), data: { turbo: false }, method: :delete, class: "btn bg-transparent border-0" do %>
      <small class="text-secondary fw-bold text-decoration-none">Cancel</small>
    <% end %>
  <% else %>
    <%= button_to follow_path(user_id: suggestion.id), data: { turbo: false }, method: :post, class: "btn bg-transparent border-0" do %>
      <small class="fw-bold text-secondary text-decoration-none">Follow</small>
    <% end %>
  <% end %>
</div>